@font-face {
    font-family: 'Exo2';
    src: url('../fonts/Exo2.0-Thin.otf');
    font-style: normal;
}
body {
	font-family:Trebuchet MS;
	font-style:normal;
	background:url('../img/bg.jpg') no-repeat;
	background-size: cover;
}
h4 {
	font-family: 'Exo2';
	font-size:36px;
	color:#fff;
	padding-top:45px;
	padding-bottom:30px;
	text-align:center;
	font-style:normal;
}	
.main {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	min-height:680px;	
	height:680px;	
}
.prod-block {
    height: 480px;
    border-radius: 10px;
    position: relative;	
    padding: 0;	
}
.prod-block-content {
    height: 430px;
    width: 320px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    position: absolute;
    border-left: 5px solid #1698d9;
    border-right: 5px solid #1698d9;
    border-bottom: 5px solid #1698d9;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 1;
    background: #fff;
    transition: 0.5s all;
    padding-left: 30px;
}
.prod-block-content:before {
    content: '';
    -o-transform: skew(134deg);
    -ms-transform: skew(134deg);
    -moz-transform: skew(134deg);
    -webkit-transform: skew(134deg);
    transform: skew(134deg);
    border-left: 5px solid #1698d9;
    border-top: 5px solid #1698d9;
    width: 200px;
    height: 50px;
    background: #fff;
    position: absolute;
    top: -50px;
    left: 21px;
	transition:0.5s all;
}
.prod-block-content:after{
	content: '';
    border-right: 5px solid #1698d9;
    border-top: 5px solid #1698d9;
    border-top-right-radius: 10px;
    width: 200px;
    height: 50px;
    background: #fff;
    position: absolute;
    top: -50px;
    right: -5px;
	z-index:-1;
	transition:0.5s all;
}
.pbc-circle {
	width: 80px;
	height: 80px;
	background: #1698d9;
	text-align:center;
	color:#fff;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	transition:0.5s all;
	font-size:42px;
	line-height:22px;
	padding-top:22px;
	position:absolute;
	right:10px;
	bottom:10px;
	transition:0.5s all;
}
.pbc-circle span {
display:block;
padding-top:8px;
font-size:21px;	
}	
.default-hover {
	border-color:#2ea8e6;
	transition:0.5s all;
	cursor:pointer;
}	
.default-hover:after,.default-hover:before  {
	border-color:#2ea8e6;
	transition:0.5s all;
}	
.default-hover .pbc-circle {
	background: #2ea8e6;
	transition:0.5s all;
}	
.pbc-cat {
    position: absolute;
    left: -16px;
    bottom: -5px;
    background: url(../img/cat.png) no-repeat;
    background-size: 370px auto;
    width: 100%;
    height: 270px;
	border-bottom-left-radius: 20px;
}	
.pbc-title {
    font-size: 16px;	
	line-height:16px;
	margin-top: -25px;
}	
.pbc-title2 {
    font-size: 48px;
    line-height: initial;	
    font-weight: bold;	
}	
.pbc-desc {
    font-size: 24px;
    font-weight: bold;	
}	
.pbc-plus {
    font-size: 14px;
    line-height: 16px;
    padding-top: 20px;
}
.pbc-foot {
    bottom: -30px;
    color: #fff;
	font-size: 13px;
    text-align: center;
    position: absolute;	
}	
.pbc-foot a {
	text-decoration:underline dashed;
	color:#1896d8;
}	
.pbc-foot span {
	color:#1896d8;
}	

.disabled{
	border-color: #b3b3b3 !important;
    filter: contrast(50%);
}	
.disabled :hover {
	border-color: #b3b3b3 !important;
    cursor: pointer;
}
.disabled:after,.disabled :hover:after,.disabled:before,.disabled :hover:before  {
	border-color:#b3b3b3 !important;
}	
.disabled .pbc-circle,.disabled:hover .pbc-circle {
	background: #b3b3b3 !important;
}
.selected {
	transition:0.5s all;
	border-color:#d91667;
}
.selected:hover {	
	border-color:#d91667;
	cursor:pointer;	
}	
.selected:hover:after,.selected:hover:before,.selected:after,.selected:before  {
	border-color:#d91667;
	transition:0.5s all;
}	
.selected:hover .pbc-circle, .selected .pbc-circle {
	background: #d91667;
	transition:0.5s all;
}

.selected-hover {
	border-color:#e62e7a;
}	
.selected-hover:after,.selected-hover:before  {
	border-color:#e62e7a;
	transition:0.5s all;
}	
.selected-hover .pbc-circle {
	background: #e62e7a;
	transition:0.5s all;
}
.yellow {
	color:#ffff66;
}	

@media (max-width:1024px) {
.main {
    position: relative;
    height: auto;
}
.prod-block {
    margin-bottom: 60px;
}	
}	

@media (max-width:767px) {
.main {
    position: relative;
    height: auto;
    padding: 0;	
}	
.prod-block-content {
    width: auto;
}
.pbc-cat {
    background: url(../img/cat.png) no-repeat;
    background-size: 245px auto;
    width: 100%;
    height: 230px;
}	
.prod-block-content:before {
	width:180px;
}	
.pbc-foot {
    bottom: -40px;
}	
}	